<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="processor" class="TestProcessor" />
    <bean id="aceMQConsumer" class="com.ace.trade.common.rocketmq.AceMQConsumer" init-method="init">
        <property name="groupName" value="AceMQConsumerGroup" />
        <property name="topic" value="TestTopic0812"/>
        <property name="namesrvAddr" value="47.99.32.132:9876"/>
        <property name="processor" ref="processor"/>
    </bean>
</beans>